@model GerFinancas.Models.Cartoes

@{
    ViewData["Title"] = "Cadastrar novo cartão";
}

<h1>Cadastrar novo cartão</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Cartoes" asp-action="Criar" method="post">
            <input type="hidden" asp-for="Codigo" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>-->
            <!--<div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" placeholder="Digite a Descrição" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
                <small class="form-text text-muted">Seus dados estão seguros, e nunca serão compartilhados.</small>
            </div>-->


            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" type="text" class="form-control" placeholder="Digite a Descrição" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
                <small class="form-text text-muted">Seus dados estão seguros, e nunca serão compartilhados.</small>
            </div>


            <div class="form-group">
                <label asp-for="Limite" class="control-label"></label>
                <input asp-for="Limite" class="form-control" placeholder="Entre com o limite do cartão" />
                <span asp-validation-for="Limite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaVencimento" class="control-label"></label>
                <input asp-for="DiaVencimento" class="form-control" />
                <span asp-validation-for="DiaVencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MelhorDiaCompra" class="control-label"></label>
                <input asp-for="MelhorDiaCompra" class="form-control" />
                <span asp-validation-for="MelhorDiaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-controller="Cartoes" asp-action="Index" role="button">Voltar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
