@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<h3>@ViewData["Message"]</h3>

<p>Sistema Gerenciamento de Finanças - Versão 1.0</p>
<address>
    <strong>Maiores Informações: </strong> <a href="http://google.com.br">Digitaltec.com.br</a>
</address>

<div>
    <a asp-action="Index" asp-controller="Home">Voltar</a>
</div>