@model IEnumerable<GerFinancas.Models.TipoLancamento>

@{
    ViewData["Title"] = "Tipo de Lançamento";
}

<h1>Tipo de Lançamento</h1>

<p>
    <a asp-controller="TipoLancamento" asp-action="Criar" class="btn btn-primary">Inserir novo tipo de lançamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>
<div>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</div>
