@{ 
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}
<h3>Login</h3>
<p>Entre com seus dados corretamente para acessar o sistema</p>

<form>
    <div class="mb-3">
        <label for="Login" class="form-label">Login</label>
        <input type="text" class="form-control" id="login">
    </div>
    <div class="mb-3">
        <label for="Senha" class="form-label">Senha</label>
        <input type="password" class="form-control" id="Senha">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>